/*** Fonts ***/
@font-face {
    font-family: 'aaargh';
    src: url('$lib/fonts/Aaargh.ttf');
}

@font-face {
    font-family: 'akashi';
    src: url("$lib/fonts/akashi.ttf");
}

/*** CSS Resets ***/
html {
    box-sizing: border-box;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-size: inherit;
}

* {
    /* remove default spacing */
    margin: 0;
    padding: 0;
    /* force styling of type through styling, rather than elements */
    font: inherit;
    color: var(--text);
    font-family: 'aaargh', sans-serif;
}

/* dark mode user-agent-styles */
html {
    color-scheme: dark light;
}

/* min body height */
body {
//min-height: 100vh; min-width: 320px;
    @media (prefers-color-scheme: dark) {
        background-color: black;
    }
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    font-family: 'akashi', sans-serif;
}

.noselect {
    user-select: none;
}

.interactive {
    cursor: pointer;
}

/*** Variables ***/
:root {
    --theme: #9ed0f6;
    --theme-border: #000;
    --theme-light: #c4f5ff;
    --theme-background: #7ca5e8; /*old: #5e82bd*/
    --text: #0b113f;
    --text-on-bg: #e8e8ff;
    --success-background: #64c464;
    --success-text: #003b00;
    @media (prefers-color-scheme: dark) {
        --theme: #2974b0;
        --theme-background: #182842;
        --text: #e8e8ff;
    }
}

/*** Nav ***/
nav {
    .active {
        background-color: red;
    }

    a, a:active, a:hover, a:visited {
        color: inherit;
    }
}
